h1 {
    display: flex;
    justify-content: center;
}

#button-container {
    display: flex;
    justify-content: center;
}

button {
    border: 1px solid black;
}

button:hover{
    background-color: blue;
}

#item-image {
    width: 200px;
    height: 200px;
    justify-content: center;
    margin: 10px;
}