h1 {
    display: flex;
    justify-content: center;
    background-color: rgb(54, 69, 79);
    color: white;
}

#button-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 250px;
}

button {
    border: 1px solid black;
}

button:hover{
    background-color: blue;
}

#item-image {
    width: 200px;
    height: 200px;
    justify-content: center;
    margin: 10px;
}

footer {
    display: flex;
    background-color: rgb(54, 69, 79);
    justify-content: space-evenly;
}